.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item-fix {
  flex: 0 1 auto;
}

.margin-top {
  margin: 1rem 0;
}

.table-layout-fixed {
  table-layout: fixed;
}

.width-33 {
  width: 33%;
}

.width-50 {
  width: 50%;
}

.width-90 {
  width: 90%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.center {
  margin: auto;
}

.table-border-thin,
.table-border-thin :is(th, td) {
  border: 1px solid black;
}

.table-border-radius,
.table-border-radius :is(th, td) {
  border-radius: 0.5rem;
}

.padding-small :is(th, td) {
  padding: 0.5rem;
}

.list-remove-bullets {
  list-style-type: none;
}
